*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-family: 'Shantell Sans', cursive;
    color: rgb(126, 79, 214);
    font-weight: 600;
}

.main-container{
    height: 100vh;
    background: linear-gradient(70deg, white,  #f4e1f1, #daeaff);
    display: flex;
    align-content: center;
}

.app-container{
    width: 90%;
    height: 70%;
    max-height: 100%;
    max-width:100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title{
    max-height: 10%;
    font-size: 2.5vw;
    text-align: center;  
}

.content{
    max-height: 75%;
    height: 75%;
    background: rgba(189, 161, 242, 0.2);
    border: 0.5vw solid rgb(206, 187, 243);
    border-radius: 1vw;
    box-shadow: inset 0em 0em 0em 0.5vw rgb(206, 187, 243);
    -webkit-box-shadow: inset 0em 0em 0em 0.5vw rgb(206, 187, 243); 
    padding: 2vw;
}

.row{
    height: 25%;
    display: flex;
    justify-content: space-between;
}

.col1{
    width: 15%;
    max-width: 20%;
    align-self: center;
    font-size: 1.7vw;
}

.col3{
    width: 15%;
    max-width: 10%;
    display:flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    font-size: 3vw;
}

.votos{
    font-size: 1vw;
    color: black;
    font-family:'Times New Roman', Times, serif;
    font-weight: 200;
}

.progress {
    height: 6vh;
    width: 70%;
    border-radius: 2em;
    background-color: #e6f3fa;
    margin: auto;
}
 
.progress-bar {
    height: 100%;
    width: 0%;
    transition: width 1.00s;
    border-radius: 2em;
    
    display: flex;
    align-items: center;
    justify-content: end;
}

.perros{
    background: linear-gradient( 90deg, #f6f1b7, #f48d52);
}

.gatos{
    background: linear-gradient( 90deg, #98fff8, #1c78a9);
}

.hamsters{
    background: linear-gradient( 90deg, #febcf5, #9344fa);
}

.conejos{
    background: linear-gradient( 90deg, #f8d182, #f65656);
}

.image {
    display: block;
    position: relative;
    font-size: 13vh;
    max-width: fit-content;
    right: -3vw;
    animation: swinging ease-in-out 0.2s infinite alternate;
  }
  
  @keyframes swinging {
    0% { transform: rotate(-10deg); }
    100% { transform: rotate(10deg); }
}